
      body {
        font-family: Helvetica, serif;
        margin: 0;
        padding: 0;
      }
      header {
        background-color: #333;
        color: #fff;
        padding: 20px;
      }
      .avatar {
        width: 200px;
        height: 250px;
        margin: 20px;
        border-radius: 50%;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.9);
      }

      section {
        background-color: #f2f2f2;
        padding: 20px;
      }
      /* Style pour les titres */
      h1, h2 {
        margin-top: 0;
      }

      .block_rose{
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #cc83e1;
      }

      .logo_instagram{
        width: 40px;
        height: 40px;
        padding : 10px;
      }

      .container {
        width: 700px; /* set the width of your container */
        margin: 50px auto;
        justify-content: center;
        background-color: #DFFEFF;
        border-radius : 5px;
        padding : 10px;
        .card-white:hover; 
        box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
        text-align: justify;
        display: flex;
        }

      .card-white {
        width: 700px; /* set the width of your card-white */
        margin: 20px auto;
        justify-content: center;
        background-color: #FFE1F2;
        border-radius : 5px;
        padding : 10px;
        .card-white:hover; 
        box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
        text-align: justify;
        }


       

